@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
input {
  color: #0a0a0a;
}
.skiptranslate {
  /* display: none !important; */
  color: transparent;
}
.skiptranslate span {
  display: none;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  left: 0;
  top: 0;
  height: 39px;
  width: 100%;
  z-index: 10000001;
  position: fixed;
  border: none;
  border-bottom: 1px solid #6b90da;
  margin: 0;
  box-shadow: 0 0 8px 1px #999;
  display: none;
}
.goog-te-gadget .goog-te-combo {
  margin: 4px 0;
  padding: 10px 20px;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", Helvetica, sans-serif;
}

@media (max-width: 760px) {
  .img {
    padding: 0;
    width: 100%;
  }
}
